header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  font-size: 0;

  @media only screen and (max-width: 720px) {
    height: 60px;
  }
  
  nav {
    ul {
      @media only screen and (max-width: 720px) {
        display: none;
      }

      li {
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        
        &:first-of-type {
          padding-right: 80px;

          @media only screen and (max-width: 1080px) {
            padding-right: 40px;
          }

          @media only screen and (max-width: 840px) {
            padding-right: 20px;
          }
        }

        a {
          color: $grey;
          font-size: 20px;
          line-height: 1em;
          text-decoration: none;
          cursor: pointer;
          transition: color 0.25s;

          @media only screen and (max-width: 1080px) {
            font-size: 17px;
          }

          &:hover {
            color: $black;
          }
        }
      }
    }

    div {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      cursor: pointer;

      @media only screen and (max-width: 720px) {
        display: block;
      }

      span {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        width: 18px;
        height: 1px;
        background: $grey;
        transition: all 0.25s;

        &:first-of-type {
          top: 23px;
        }
      }

      &.state {
        span {
          transform: rotate(45deg);
          transform-origin: 50% 50%;
          top: 23px;

          &:first-of-type {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  a {
    text-decoration: none;

    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      color: $black;
      font-size: 20px;
      font-weight: 400;
      line-height: 1em;

      @media only screen and (max-width: 1080px) {
        font-size: 17px;
      }

      @media only screen and (max-width: 720px) {
        position: fixed;
        top: 0;
        left: 20px;
        margin-top: 20px;

        span {
          display: none;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}